* {
  box-sizing: border-box;
  margin: 0;
}

h1, #contact {
  font-family: 'Asap', sans-serif;
  font-weight: lighter;
  padding: 50px;
  text-align: center;
}

nav {
  background-color: #575757;
  padding: 6px;
  text-align: center;
}

nav > a {
  text-decoration: none;
  font-family: 'Asap', sans-serif;
  color: white;
  background-color: #353535;
  padding: 5px;
  transition: all 0.25s ease;
}

nav > a:hover {
  background-color: #AAA;
  color: #353535;
  padding: 7px;
}

.bg-storefront {
  background: url("../images/min/storefront-min.jpg");
}

.bg-walkin {
  background: url("../images/min/walkin-min.jpg");
}

.bg-rightside {
  background: url("../images/min/rightside-min.jpg");
}

.bg-leftside {
  background: url("../images/min/leftside-min.jpg");
}

.bg-hello {
  background: url("../images/min/hello-min.jpg");
}

.bg-card {
  background: url("../images/min/card-min.jpg");
}

.bg {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

footer {
  text-align: center;
  padding-bottom: 25px;
}

.jump-up {
  width: 50px;
  height: 50px;
  color: white;
  background-color: #aaaaaa;
  border-radius: 50px;
  border: none;
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
  transition: all 0.5s ease;
}

.jump-up:hover {
  background-color: #cfcfcf;
  cursor: pointer;
}