* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-family: 'Asap', sans-serif;
  font-weight: lighter;
  padding: 50px;
  text-align: center;
}

.bg-storefront {
  background: url("../images/min/storefront-min.jpg");
}

.bg-walkin {
  background: url("../images/min/walkin-min.jpg");
}

.bg-rightside {
  background: url("../images/min/rightside-min.jpg");
}

.bg-leftside {
  background: url("../images/min/leftside-min.jpg");
}

.bg-hello {
  background: url("../images/min/hello-min.jpg");
}

.bg-card {
  background: url("../images/min/card-min.jpg");
}

.bg {
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}