* {
  box-sizing: border-box;
  margin: 0;
}

header {
  padding: 15px;
  font-family: 'Asap', sans-serif;
  text-align: center;
}

div.carousel {
  margin: 0;
  padding: 200px;
  background: url("waterpipe.png");
  background-size: contain;
}