* {
  box-sizing: border-box;
  margin: 0;
}

body {

}

header {
  padding: 15px;
  font-family: 'Asap', sans-serif;
  text-align: center;
  color: #8A90C8;
}

div.carousel {
  margin: 0;
  padding: 200px;
  background: url("pipe.png");
  background-size: contain;
  background-repeat: no-repeat;
 
}